<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Shockwave-Design - J. & M. Kramer, all rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <system>
            <smtp>
                <type>mailgun</type>
            </smtp>
        </system>
        <transport>
            <types>
                <mailgun>
                    <label>Mailgun</label>
                    <value>mailgun</value>
                    <class>Shockwavedesign\Mail\Mailgun\Model\Transports\MailgunTransport</class>
                </mailgun>
            </types>
        </transport>
    </default>
</config>
