<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Shockwave-Design - J. & M. Kramer, all rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="smtp">
                <field id="mailgun_domain" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mailgun domain</label>
                    <comment><![CDATA[example.com]]></comment>
                    <depends>
                        <field id="type">mailgun</field>
                    </depends>
                    <source_model>Shockwavemk\Mail\Mailgun\Model\Config\Source\Mailgun\Domains</source_model>
                </field>

                <field id="mailgun_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mailgun key</label>
                    <comment><![CDATA[key-...]]></comment>
                    <depends>
                        <field id="type">mailgun</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>

